/* html{
  margin: 0 auto;
}

#header{
  text-align: center;
}

#myCanvas{
  /* background-color: yellow; */
  /* border: 2px solid black;
} */

canvas {
  background: #eee;
  /* display: block;
  margin: 0 auto; */
}
